body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* Section */
.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-thin', sans-serif;
}

/* Download Buttons */
.download-button {
  margin: 8% 3% 8% 0%;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Phone image */
.img-phone {
  width: 60%;
  transform: rotate(25deg);
  padding-top: 2%;
  position: absolute;
  right: 22%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Style Icon */
.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.icon:hover {
  color: #ff4678;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-txt {
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */
.icon-footer {
  margin: 8px;
}

.p-foot {
  font-size: 1.2rem;
}

@media(max-width:992px) {
  #title {
    text-align: center;
  }

  .img-phone {
    position: static;
    transform: rotate(0deg);
  }
}
